extends index 

block variables
  - const title = 'Enneagram'

block subCategory
  div 
    a(href="/forum/enneagram") Enneagram

block title 
  .title(style="background:linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18)),url(../images/pen.jpg) no-repeat;background-size: cover;")
    span.cateName Enneagram 
    span A typology of nine interconnected personality types.


block postsTop 
  .postsTop
    span
      span Enneagram
      //- span Lorem
    span.new
      a(href="/forum/enneagram/createnew") Create New Post


