extends index 

block variables
  - const title = 'General Psychology'

block subCategory
  div 
    a(href="/forum/generalpsychology") General Psychology

block title 
  .title(style="background:linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18)),url(../images/pen.jpg) no-repeat;background-size: cover;")
    span.cateName General Psychology 
    span Forum for anything you curious about in the field of psychology


block postsTop 
  .postsTop
    span
      span General Psychology
    //-   span Lorem
    span.new
      a(href="/forum/generalpsychology/createnew") Create New Post


