extends index 

block variables
  - const title = 'MBTI'

block subCategory
  div 
    a(href="/forum/mbti") MBTI

block title 
  .title(style="background:linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18)),url(../images/bar.jpg) no-repeat;background-size: cover;")
    span.cateName MBTI 
    span An introspective self-report questionnaire indicating differing psychological preferences.


block postsTop 
  .postsTop
    span MBTI &nbsp&nbsp
      //- span Lorem Ipsum
    span.new
      a(href="/forum/mbti/createnew") Create New Post

