extends navFooter 

block bar
  .bar 
    div 
      a(href="/forum") Categories 
    div 
      a(href="/forum") name of cate
    input(
      type='text'
      id='search'
    )
  block content
        


        

  