extends index 

block variables
  - const title = 'Other Personality Theories'

block subCategory
  div 
    a(href="/forum/other") Other Personality Theories

block title 
  .title(style="background:linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18)),url(../images/pen.jpg) no-repeat;background-size: cover;")
    span.cateName Other Personality Theories
    span Dicussing other personality theories and concepts.


block postsTop 
  .postsTop
    //- span
    span Other Personality Theories
    //-   span Lorem
    span.new
      a(href="/forum/other/createnew") Create New Post


