extends navFooter

block variables
  - var title = 'Tea Party'

block css 
  link(rel='stylesheet', href='/stylesheets/teaparty.css')

block scripts
  script(defer='' src='/javascripts/forum.js')

block content

  .banner
    p.title Welcome to Tea Parties!
    .subt SPACE tea parties are live audio discussions that encourage self-discovery and self-enhancement.<br> Here we build a society for exchange and exploration of ideas and issues of mutual concern. <br>When attending a tea party, please carefully read the leading topic and follow the instruction from our coordinator.
  .parties 
    .party
      .partyImg
        img(src="images/teaparties/arel-ebana-Bg9HQqzzCSI-unsplash.jpg")
      .info
        .time April 27th 9pm, 2022
        .topic The Ideal City to Live in
        .desc The coronavirus outbreak has changed people's life globally and challenged every government to maintain citizens' wellbeing. Under this circumstance, where is your ideal city to live in? ...
        .join Join
    .party
      .partyImg
        img(src="images/teaparties/elcarito-MHNjEBeLTgw-unsplash.jpg")
      .info
        .time May 1st 9pm, 2022
        .topic The Agony of Eros
        .desc In his book The Agony of Eros, Byung-Chul Han offers a survey of the threats to Eros. In Beidao's new book of poems, he writes "there must be someone to rewrite love." What is your view of love in this post-modern, capitalism dominant society? ...
        .join Join
    .party
      .partyImg
        img(src="images/teaparties/paul-earle-8mi7Ps5CUas-unsplash.jpg")
      .info
        .time May 5th 9pm, 2022
        .topic Why have/not to have kids
        .desc Global average fertility rates have dropped by half over the last fifty years. What are your reasons to have kids or to live a DINK life? ...
        .join Join
     
    .party
      .partyImg
        img(src="images/teaparties/francisco-arnela-ro_F7ClfPsE-unsplash.jpg")
      .info
        .time May 10th 9pm, 2022
        .topic The Demanding Social Media
        .desc The Internet is never the Garden of Eden. It could be tiresome, annoying, or confusing. It could lead to anxiety and bullying. What are your recent experiences using social media and how are you feeling about its environment?  ...
        .join Join